* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0 auto;
    overflow: hidden;
  }

  .container {
    background-image: url(poke.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  input {
    position: relative;
    left: 752px;
    top: 190px;
    font-size: 30px;
    padding: 10px 10px;
    text-align: center;
    background-color: #a5dd9b;
    border: 1px solid gray;
    border-radius: 10px;
  }

  button {
    position: relative;
    top: 254px;
    left: 483px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #76885b;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s ease-in;
  }
  button:hover {
    background-color: #2c7865;
    transition: 0.3s ease-out;
    cursor: pointer;
  }

  img {
    position: relative;
    top: 303px;
    left: 911px;
  }